body {
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
}
p{
  color:white;
}
.container{
display: none; 
border-radius: 25px;
width: 40%;
background-color: rgba(255, 192, 203, 0.6);
}
@media screen and (max-width: 800px) {
  .container{
width: 100%;
}
}